<div class="w-full md:w-1/2 lg:w-48 border rounded rounded-t-none shadow">
	<img src="https://images.unsplash.com/photo-1505740420928-5e560c06d30e" alt="Headphones" />
	<div class="p-4">
		<p class="text-xl font-bold uppercase text-gray-700">Product Name</p>
		<p class="text-sm text-gray-500">Product Description</p>
		<div class="flex justify-between items-center mt-4">
			<p class="text-xs text-yellow-600">$50</p>
			<p>
				<a class="bg-yellow-600 hover:bg-yellow-800 transition py-2 px-4 text-yellow-100 rounded-full" href="#"
					>Buy</a
				>
			</p>
		</div>
	</div>
</div>
