<!-- <div class="m-2 py-12 px-4 border-4 rounded-lg bg-blue-100 border-red-800">
	<h1 class="text-xl md:text-2xl lg:text-4xl xl:text-7xl 2xl:text-9xl text-blue-600">Welcome to ng-conf</h1>
	<p class="text-xl text-blue-300">Learn Tailwind</p>
</div>

<app-product-card></app-product-card> -->

<!-- <p><a href="">Link 1</a></p>
<p><a href="">Link 2</a></p>
<p><a href="">Link 3</a></p>
<p><a href="">Link 4</a></p>
<p><a myButton href="">Link 5</a></p>

<p class="text-brand-color">Hello world</p>
<p class="text-brand-color-50">Hello world</p>
<p class="text-brand-color-100 text-xxs">Hello world</p> -->

<div class="p-12 dark-container">
	<h1 class="text-3xl text-blue-700 dark:text-blue-100">Welcome to Dark Mode</h1>
</div>
